
*{
    margin: 0;
    padding: 0;
}
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared style */
.primary-clr{
    color: #575757;
}
.btn-primary{
    color: #FFFFFF;
    background-color: #1D4ED8;
    font-weight: 700px;
    padding: 12px 40px;
    border-radius: 12px;
    border: none;
    font-size: 16px;

}
/* nav style */
nav{
    display: flex;
    align-items: center;justify-content:space-between;
    margin: 0 115px;
}
.nav-logo{
    font-weight:134px;
    font-size: 45px;

}
nav ul li{
    list-style: none;
    margin: 24px;

}
nav li a{
    text-decoration: none;
    font-size: 16px;
}
nav ul{
    display: flex;
}

/* banner part */
.banner{
    background-image: url("/assets/banner.jpg");
    background-repeat: no-repeat;
     background-position: center;
     
    background-size: cover;
    background-position: center;
    /* width: 1500px; */
    height: 780px;


}
.banner-content{
    text-align: center;
     /* margin: 135px 250px 550px 340px; */
}
.banner-title{
    color: #FFFFFF;
    font-size: 80px;
    padding: 135px 250px 16px 340px
    /* margin: 0 250px 0 340px; */
}
.banner-description{
    color: #FFFFFF;
    padding: 0 300px 270px 420px;
   
}
.banner-btn1{
    padding: 120px;
}
.ban-btn{
    font-size: 24px;
}
