
*{
    margin: 0;
    padding: 0;
}
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
img{
    max-width: 100%;
}
/* shared style */
.primary-clr{
    color: #575757;
}
.btn-primary{
    color: #FFFFFF;
    background-color: #1D4ED8;
    font-weight: 700px;
    padding: 12px 40px;
    border-radius: 12px;
    border: none;
    font-size: 16px;

}
/* nav style */
nav{
    display: flex;
    align-items: center;justify-content:space-between;
    margin: 0 115px;
}
.nav-logo{
    font-weight:134px;
    font-size: 45px;

}
nav ul li{
    list-style: none;
    margin: 24px;

}
nav li a{
    text-decoration: none;
    font-size: 16px;
}
nav ul{
    display: flex;
}
/* nav end */

/* banner part */
.banner{
    background-image: url("/assets/banner.jpg");
    background-repeat: no-repeat;
     background-position: center;
     
    background-size: cover;
    background-position: center;
    /* width:1550px;
    height: 780px; */
    
    max-width: 100%;
    margin: auto;

}
.banner-content{
    text-align: center;
     /* margin: 135px 250px 550px 340px; */
}
.banner-title{
    color: #FFFFFF;
    font-size: 80px;
    padding: 135px 250px 16px 340px
    /* margin: 0 250px 0 340px; */
}
.connect{
    font-weight:700px;
    font-style: italic;
}
.banner-description{
    color: #FFFFFF;
    padding: 0 350px 270px 480px;
    font-size: 22px;
   
}
.banner-btn1{
    padding: 120px;
}
.ban-btn{
    font-size: 24px;
}
/* banner end */
/* main's speaker part */
/* .speakers{
   /* padding: 80px;
   align-items: center;
   justify-content: center; */
   /* text-align: center; */
 
.meet{
    display: flex;
    padding:80px 450px 56px 450px;

    /* align-items: center; */
   justify-content: center;
   font-size: 56px;
   font-weight: 700;
   clear:#000102
}
.picture{
    margin-top: 80px;
    margin-left: 55px;
    margin-right: 55px;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    gap: 33px;
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
}
.gallery{
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 12px;
    border: 1px solid #E5E7EB
}
.job{
    color: #2563EB;
    font-size: 12px;
    font-weight: 600px;
    padding: 24px 550px 8px 24px;
}
.job2{
      padding: 24px 450px 8px 24px;
}
.name{
    font-size: 20px;
    font-weight: 700px;
    color: #0D1B2A;
    padding: 8px 0 8px 24px;
}
.job-title{
    font-size: 14px;
    padding: 8px 0px 24px 24px;
}