
*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

img{
    max-width: 100%;
}
/* shared style */
.primary-clr{
    color: #575757;
}
.btn-primary{
    color: #FFFFFF;
    background-color: #1D4ED8;
    font-weight: 700;
    padding: 12px 40px;
    border-radius: 12px;
    border: none;
    font-size: 16px;

}
/* nav style */
nav{
    display: flex;
    align-items: center;justify-content:space-between;
    margin: 0 115px;
}
.nav-logo{
    font-weight:134;
    font-size: 45px;

}
nav ul li{
    list-style: none;
    margin: 24px;

}
nav li a{
    text-decoration: none;
    font-size: 16px;
}
nav ul{
    display: flex;
}
/* nav end */

/* banner part */
.banner{
    background-image: url("./assets/banner.jpg");
    background-repeat: no-repeat;
     background-position: center;
     
    background-size: cover;
    /* background-position: center; */
    /* width:1550px;
    height: 780px; */
    
    max-width: 100%;
    margin: auto;

}
.banner-content{
    text-align: center;
     /* margin: 135px 250px 550px 340px; */
}
.banner-title{
    color: #FFFFFF;
    font-size: 80px;
    padding: 135px 250px 16px 340px;
    /* margin: 0 250px 0 340px; */
}
.connect{
    font-weight:700;
    font-style: italic;
}
.banner-description{
    color: #FFFFFF;
    padding: 0 350px 270px 480px;
    font-size: 22px;
   
}
.banner-btn1{
    padding: 120px;
}
.ban-btn{
    font-size: 24px;
}
/* banner end */
/* main's speaker part */
/* .speakers{
   /* padding: 80px;
   align-items: center;
   justify-content: center; */
   /* text-align: center; */
 
.meet{
    display: flex;
    padding:80px 450px 56px 450px;

    /* align-items: center; */
    justify-content: center;
    font-size: 56px;
    font-weight: 700;
    /* color:#000102 */
}
.picture{
    margin-top: 80px;
    margin-left: 55px;
    margin-right: 55px;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    gap: 33px;
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
}
.gallery{
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 12px;
    border: 1px solid #E5E7EB
}
.job{
    color: #2563EB;
    font-size: 12px;
    font-weight: 600;
    padding: 24px 550px 8px 24px;
}
.job2{
      padding: 24px 450px 8px 24px;
}
.name{
    font-size: 20px;
    font-weight: 700;
    color: #0D1B2A;
    padding: 8px 0 8px 24px;
}
.job-title{
    font-size: 14px;
    padding: 8px 0px 24px 24px;
}
/* Secure Your Spot */
.all-spot{
    max-width: 1200px;
    margin: auto;
    /* margin-left: 500px;
    margin-right: 190px; */
}
.spot{
    text-align: center;

}
.spot-head{
    font-weight: 700;
    color: #0D1B2A;
    font-size: 48px;
    padding: 50px 0 10px 0;
}
.spot-para{
    padding: 5px 0 20px 0;
    color: #575757;
}
.spot-content{
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
    
}
.gallery2{
    padding:20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #E5E7EB 
}
.level{
     font-size: 13px;
     font-weight: 600;
     color: #888888;
}
.level2{
     font-size: 13px;
     font-weight: 600;
     color: #93C5FD;
}
.spot-greetings h2{
    color: #0D1B2A;
    font-weight: 800;
    font-size: 44px;
}
.spot-greetings2 h2{
    color: #FFFFFF;
    font-weight: 800;
    font-size: 44px;
}
.spot-greetings3 h2{
    color:#000102;
    font-weight: 800;
    font-size: 44px;
}
.person{
    color: #888888;
    font-size: 13px;
    font-weight:400;
}
.line{
    border: none;
    border-top: 1px solid #E5E7EB;
    padding: 0 0 10px 0;
}
.spot-greetings ul li::marker{
   /* list-style: disc; */
   color: #1D4ED8;
    
}
.spot-greetings ul li{
    color: #333333;
    font-weight: 400;
    font-size: 14px;
    padding: 0 0 10px 0
}
.spot-greetings2{
    background-color: #0D1B2A;
}

.spot-greetings2 ul li::marker{
    color: #1D4ED8;
}
.spot-greetings2 ul li{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    padding: 0 0 10px 0
}
.spot-greetings3 ul li::marker{
    color: #1D4ED8;
}
.spot-greetings3 ul li{
    color: #333333;
    font-weight: 400;
    font-size: 14px;
    padding: 0 0 10px 0
}
/* button part */
.btn{
    padding: 10px 50px 10px 50px;
    align-items: center;
    justify-content: center;
    color: #1D4ED8;
    font-weight: 600;
    font-size: 14px;
    border-radius: 8px;
    border-color:#1D4ED8;
}
.btn2{
    padding: 10px 50px 10px 50px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    border-radius: 8px;
    border: none;
    background-color: #1D4ED8;
}
.btn3{
    padding: 10px 50px 10px 50px;
    align-items: center;
    justify-content: center;
    color: #000102;
    font-weight: 600;
    font-size: 14px;
    border-radius: 8px;

    border-color: #000102;
}
/* end 3 btn for speakers */
.schedule{
    max-width: 1200px;
    margin: 80px auto;
    
    padding: 20px;
    background-image: url(./assets/schedules.jpg);
    background-repeat: no-repeat;
    background-position: center;
     
    background-size: cover;
}

.schedule-title{
    text-align: center;
    margin-bottom: 50px;
}

.schedule-title h2{
    font-size: 42px;
    margin-bottom: 10px;
    color: #FFFFFF;
}

.schedule-title p{
    color: #d7c1eb;
}

.schedule-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.schedule-card{
    background: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 10px;
    padding: 30px;
}

.schedule-card h3{
    margin-bottom: 5px;
}

.schedule-card span{
    color: #6366F1;
    font-weight: 600;
}

.schedule-card ul{
    margin-top: 20px;
    padding-left: 20px;
}

.schedule-card li{
    margin-bottom: 12px;
}
.footer{
    background-color: #0D1B2A;
    display: flex;
    justify-content: space-between;
    align-items:self-end; 
}
.footer-title{
    width: 50%;
    padding: 70px 30px 20px ;
}
.footer-icons{
    display: flex;
    justify-content: center;
    
}
.footer-icons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 10%;
}
.footer-icons a :hover{
    color: bisque;
}
.footer-details ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footer-details ul li a{
    text-decoration: none;
    margin: 10px;
    color: #FFFFFF;
    font-size: 15px;
}
.footer-bottom{
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 400;
    
}


